body {
    background: #fef7e1;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background: #004964;
    color: #f1c100;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
