body {
    background: #fef7e1;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background: #004964;
    color: #f1c100;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #555;
}

nav ul li a:active {
    background-color: #888;
}

nav ul li a:focus {
    outline: 2px solid #ffeb39;
}
main {
    padding: 20px;
    justify-content: center;
    font-family: 'Kodchasan', sans-serif;
}

main article {
    text-align: center;
}

main h2 {
    color: #10278f;
    padding: 10px 0;
    font-family: 'Kodchasan', sans-serif;
}
img {
    width: 80vw;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
}
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form button {
    width: 100%;
    margin-bottom: 10px;
}
footer {
    background: #004964;
    color: #fff;
    text-align: center;
    padding: 0.5vh;
    position: fixed;
    bottom: 0;
    width: 100%;

}
main p {
    width: 80vw;
    max-width: 1000px;
    line-height: 1.8;
    text-align: justify;
    margin: 20px auto;
    font-size: 16px;
}